services:
  # Service PHP (Le moteur)
  php:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: cs-logs-php
    volumes:
      - .:/var/www/html
    networks:
      - app_network

  # Service Nginx (Le serveur web)
  web:
    image: nginx:alpine
    container_name: cs-logs-web
    ports:
      - "${APP_PORT:-8000}:80"
    volumes:
      - .:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
    networks:
      - app_network
      
  redis:
    image: redis:8
    container_name: csgo_redis
    restart: unless-stopped
    networks:
      - app_network
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - ./redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 30s
      timeout: 3s
      retries: 3
      start_period: 10s

networks:
  app_network:
    driver: bridge